In [1]:
# Import necessary libraries
import pandas as pd                # For data manipulation and analysis
import pymongo                     # For working with MongoDB
from pymongo.mongo_client import MongoClient  # For creating a MongoDB client
from dotenv import load_dotenv     # For loading environment variables from a .env file
import os                         # For interacting with the operating system (e.g., environment variables)

In [2]:
# Load environment variables from a .env file into the environment
load_dotenv()

True

In [3]:
# Get the MongoDB password from environment variables
password = os.getenv("password")

In [4]:
# Read the CSV file "data.csv" into a pandas DataFrame
df = pd.read_csv("data.csv")

# Display the first 5 rows of the DataFrame to inspect the data
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [5]:
# Convert the DataFrame to a list of dictionaries, where each dictionary represents a row
data = df.to_dict(orient="records")

In [6]:
# Define the database name to be used in MongoDB
DB_NAME = "vehicle-db"

# Define the collection name within the database
COLLECTION_NAME = "vehicle-data"

In [7]:
# Construct the MongoDB URI using the password from environment variables
uri = f"mongodb+srv://sauravsabu9:{password}@cluster0.bcesarf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new MongoClient instance to connect to MongoDB
client = MongoClient(uri)

# Send a ping command to verify the connection to the MongoDB server
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [8]:
# Access the specified database from the MongoDB client
database = client[DB_NAME]

# Access the specified collection within the database
collection = database[COLLECTION_NAME]

In [9]:
# Insert all records from the data list into the MongoDB collection
rec = collection.insert_many(data)